/* styles.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  text-align: center;
  padding: 20px;
}

h1 {
  color: #c24b4b;
  font-size: xx-large;
}

.links {
  margin-top: 20px;
}

.link {
  display: inline-block;
  margin: 5px;
  padding: 10px 20px;
  background-color: #0078d4;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.search-bar {
  margin-top: 30px;
}
